@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

#bg-video{
    object-fit: cover;
    width: 100vw;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-content{
    margin-top: 5em;
    margin-bottom: 2em;
    width: 70%;
    height: 500px;
}
.hero-heading div{
    color: white;
    font-size: 30px;

}

h1{
font-family: 'SF Pro Display', sans-serif;
color: white;
font-weight: bold !important;
font-size: 80px !important;
}

@media (max-width:767px){
    h1{
        font-size: 70px !important;
    }
}
@media(max-width:504px){
    .hero-content{
        margin-top: 2em;
        margin-bottom: 4em;
    }
        .hero-heading div{
            font-size: 24px;
        }
}