@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-content {
  margin-top: 3em;
  margin-bottom: 0;
  width: 70%;
  height: 425px;
}
.hero-heading div {
  color: white;
  font-size: 30px;
}

h1 {
  font-family: "SF Pro Display", sans-serif;
  color: white;
  font-weight: bold !important;
  font-size: 100px !important;
}

@media (max-width: 992px) {
  h1 {
    font-size: 70px !important;
  }
  .hero-content {
    height: 300px;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 65px !important;
  }
  .hero-content {
    height: 300px;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
  }
}
@media (max-width: 504px) {
  .hero-content {
    margin-top: 2em;
    margin-bottom: 0em;
    height: 300px;
  }
  .hero-heading div {
    font-size: 24px;
  }
  .hero-title {
    font-size: 55px !important;
  }
  #bg-video {
    height: 100%;
  }
}
