
.hotel-search{
    display: flex;
}
.search-btn{
    background-color: #318AFF !important;
    width: 100% !important;
    height: 46px;

}

.search-container{
    background-color: rgb(255, 255, 255);
    padding: 2.5em;
    border-radius: 20px;
    /* position: relative; */
    top: -70px;
    border: 1px solid rgb(194, 213, 255);
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 60px;

}
.nav-link.active{
    background-color: rgb(211, 244, 251) !important;
    color: #318AFF !important;
}
.nav-link{
    color: rgb(31, 31, 31) !important;
}

.nav-link:hover{
    background-color: rgb(120, 181, 232) !important;
    color: white;
}

@media (max-width:992px){
    .search-container{
        top: -120px;
    }
}