.tourcard-wrap{
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.overlay {
    cursor: pointer;
}
.card-img{
    object-fit: cover;
    transition: transform 0.3s ease;
    aspect-ratio: auto 3/4 !important;
}

.tourcard-wrap:hover{
    transform: scale(1.05);
}