.visitor-counter {

    margin: 0 auto;
}
.counter-container{
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;

}

.input-box input {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.room {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.counterBtn-wrap{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.counter-btn {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

button:hover {
    background-color: #f0f0f0;
}

.button-wrap{
    display: flex;
    justify-content: space-between;
}
.add-room-button,
.remove-room-button,
.done-button {
    display: block;
    background-color: #007aff;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.add-room-button:hover,
.remove-room-button:hover,
.done-button:hover {
    background-color: #005bb5;
}