.container{
    width: 100%;
        max-width: 1200px;
        /* Or any suitable max-width */
        margin: 0 auto;
}
.carousel-item {
    padding: 0 10px;
    /* Adds padding between the cards */
}