.review-author {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.review-rating-container {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.review-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-label {
    width: 160px;
}

.bar {
    background-color: #ddd;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent overflow */
}

.bar-fill {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: width 1s ease-in-out;
}

.bar-fill.excellent {
    background-color: #4caf50;
}

.bar-fill.very-good {
    background-color: #8bc34a;
}

.bar-fill.average {
    background-color: #ff9800;
}

.bar-fill.poor {
    background-color: #f44336;
}

.review-count {
    margin-left: 10px;
}