.review-author {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.review-rating-container {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.review-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-label {
    width: 160px;
}

.review-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.review-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}