@import url("https://fonts.googleapis.com/css2?family=Suse&display=swap");

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 1rem;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: black;
  border: 0px solid #318aff;
  padding: 6px 15px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.page-link:hover {
  background-color: #318aff;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #318aff;
  border-color: #318aff;
  color: white;
}

.page-item.disabled .page-link {
  color: #318aff;
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.3;
}
