/* country search */
.css-13cymwt-control {
    height: 48px;
    width: 100%;
    margin-bottom: 1em;
}

.css-t3ipsp-control {
    height: 48px;
    width: 100%;
    margin-bottom: 1em;
}


/* calendar */

.rmdp-container {
    width: 100%;
    margin-bottom: 1em;

}

.rmdp-input {
    width: 100%;
    height: 48px;
    padding-left: 12px;
}