.team-section {
    text-align: center;
    width: 100vw;
    background-color: #464646;
}

.team-container {
    text-align: center;
    width: 80%;
    padding: 40px 20px;
}

.team-title {
    font-size: 2.2rem !important;
    margin-bottom: 10px;
    color: white;
}

.team-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ccc;
}

.team-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.team-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 280px;
    height: 500px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.team-card.offset-card {
    margin-top: 60px;
}

.team-img {
    width: 100%;
    height: 100%;
    padding: 9px 3px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 7px 7px;
    width: 93%;
    height: 96.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.team-card:hover .overlay {
    opacity: 1;
}

.team-info {
    color: white;
    text-align: center;
}

.team-info h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.team-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.member-name {
    font-size: 1.5rem !important;
}

.member-title {
    font-size: 1.2rem !important;
    color: #69ADFF;
}