/* .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  } */

.navbar-container{
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.734);
  margin-top: 2em;
  border-radius: 30px;
  
}
.navbar-toggler {
  border: none !important;
}



  /* .navbar-container {
    flex-shrink: 0;
    background: linear-gradient(to bottom, #ffffffc2,#ffffff6a, #ffffff00)
  } */

  .content {
    flex-grow: 1; 
  }
  
  footer {
    flex-shrink: 0;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
  }

  
  /* @media (max-width:995px) {
    .navbar-container{
    background: linear-gradient(to bottom, #ffffffd0, #ffffff00 );
    }
 
  } */