.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-container {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.679);
  margin: 2em 0em;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
}
